body {
    margin: 0;
    overflow-x: hidden;
    margin-left: auto;
}
.top {
    width: 120em;
    height: 6.2em;
    background-color: #171717;
}
.logo {
   background-image: url(./1/images/pure-new-zealand-logo.svg);
   position: relative;
   top: 20px;
   left: 359px;
   width: 280px;
   height: 27px;
}
ul li{
  display: inline-block;
  padding-right:29px;
  color: #ffffff;  
  position: relative;
  font-size: 14px;
  top:-22px;
  left:300px;
}
ul li a {
  box-sizing: content-box;
  color:#ffffff;
  display: block;
  height:25px;
  line-height:25px;
  text-decoration: none;
  position: relative;
  left:105px;
  top:-18px;
}
ul {
  position: relative;
  top: 11.3px;
}
.home {
  position: relative;
  left: 315px;
}
.images {
  background-image: url(./1/images/sun.jpg);
  width: 1920px;
  height: 660px;
}
.next {
  margin:0px;
  padding:9px;
  padding-left:10px;
  padding-bottom: 10px;
  position: relative;
  top: -530px;
  left:-380px;
  color:#ffffff;
  font-size:15px;
  display:inline-block;
}

.morning{
  width: 448px;
  height: 176px;
  background-color: #2d2d2d;
  position: relative; 
  top: -620px;
  left: 30px;
  color:#ffffff;
  padding:5px;
  padding-left:10px;
  display:inline-block;
  font-family: "Pakati",helvetica,arial,verdana,tahoma,sans-serif
}
.background{
  background-image:url(./1/images/back.jpg);
  width:1920px;
  height:660px;
  background-repeat: no-repeat;
}
.photo {
  position: relative;
  left: 130px;
  top: -250px;
}
.next {
  position: absolute;
  width: 440px;
  height: 193px;
  background-color: rgba(red, green, blue, alpha);
  top: 60px;
  left: 5px;
}
.words {
  display:inline-block;
  position: relative;
  top:-470px;
  left:-690px;
  height:36px;
  width:122px;
  background-color:#2db6e8;
  color:#ffffff;
  border-color: #2db6e8;
}

.words-2 h2{
  padding-left: 650px;
  padding-right: 650px;
  width: 300px;
  position: relative;
  top: -300px;
}
.words-3 a {
  text-align: center;
  position: relative;
  width: 450px;
  left: 550px;
  top: -300px;
}

.words-4 h3 {
  position: relative;
  left: 400spx;
  top: -250px;
}

.words-5 a {
  color: #0093de;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  position: relative;
  left: 575px;
  top: -250px;
}

.photo-2 , ul li{
  display: inline-block;
}
.people{
  position:relative;
  top:-250px;
  left:110px;
}
 .photo-2 ul img {
  width: 1200px;
}

.words-6 {
  height: 212px;
  background-color: rgb(247, 247, 247);
  
  border-top:1px solid rgb(222, 222, 222);
}
#wake {
  padding-top: 20px;
  font-size: 210%;
  text-align: center;
}
.words-6{
  font-size: 1.1em;
  padding-left: 38%;
  width: 463px;
  position: absolute;
  top: -200px;
  left: -100px;
}


.zimo {
  margin-left: 2%;
  position: relative;
  left: 100px;
  display: inline;
  padding-right:10px;
}
div#words-6 {
  position: absolute;
  left: 500px;
  top:2100px;
}


#ditu {
  background-image:url(./picture/getting-here-map-ind__FocalPointCropWzY2MCwxOTIwLDUwLDUwLDc1LCJqcGciLDY1LDIuNV0.jpg) ;
  width: 1920px;
  height: 660px;
}

#waimianhongse {
  position: relative;
}

.hongse  img{
  position: absolute;
  top:-500px;
  left: 75%;
  z-index: 1;
}

#jihua {
  text-align: center;
  font-size: 160%;
  color: #0093de;
}
#suoyousvg {
  margin-left: 250px;
}
#suoyousvg p {
  font-size: 16px;
}
#qiche {
  width: 180px;
  text-align: center;
  display: inline-block;
  padding-right: 100px;
  position: relative;
  top: -60px;
}
#qiche h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

.car {
  width: 80px;
}
.zimo2 {
  font-size: 16px;
}
.zimo2 a:link {
  text-decoration: none;
}
.zimo2 a:visited {
  color:#0093de;
}
.zimo2 a:hover {
  text-decoration: underline;
  color:#0093de;
}
#yun {
  width: 180px;
  text-align: center;
  display: inline-block;
  padding-right: 100px;
}
.weather {
  width: 80px;
}
#yun h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.accommodation {
  width: 80px;
}
#chuang {
  width: 180px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: -45px;
}
.bus {
  width: 80px;
}
#gongjiaoche {
 width: 180px;
 text-align: center;
 display: inline-block;
 padding-left: 100px;
}

  
#sangeanniu {
  position: relative;
  left: 40%;
  top: 30px;
}
h3 {
  margin-top: 50px;
  text-align: center;
}
.youxiang {
  text-align: center;
}

#huise {
  background-color: rgb(45, 45, 45);
  height: 42px;
  width: 1920px;
  margin-top: -350px;
  position: absolute;
}
.small  {
  position: relative;
  top: 40px;
  left: 300px;
}

.huise {
  background-color: rgb(45, 45, 45);
  height: 42px;
  width: 1920px;
  margin-top: 35px;
}
.liang {
  margin-left: 345px;
  padding-top: 8px;
  font-size: 13px;
}
.xiaohui {
  background-color: rgb(68, 68, 68);
  color: rgb(202, 202, 202);
  padding: 1px 5px 3px 5px;
  margin-right: 8px;
}
.zimo2 {
  font-size: 16px;
}
.gao {
  background-color: rgb(23, 23, 23);
  height: 335px;
  width: 1920px;
  color: rgb(202, 202, 202);
}
.situozi {
  margin-left: 325px;
}
.kuan-find {
  width: 120px;
  display: inline-block;
  position: relative;
  top: -25px;
  margin-left: 20px;
  margin-right: 20px;
}
.kuan-find h9 {
  margin: 0px 0px 10px 0px;
  color: #fff;
}
.twitter {
  width: 30px;
}
.zimo3waikuang {
  position: relative;
}
.zimo3 {
  position: absolute;
  left: 35px;
  top: -25px;
}
.zimo3 a {
  color: rgb(202, 202, 202);
}
.instagram {
  width: 30px;
}
.facebook {
  width: 15px;
}
.youtube {
  width: 30px;
}
.kuan-con {
  display: inline-block;
  width: 120px;
  position: relative;
  top: -80px;
  margin-left: 20px;
  margin-right: 20px;
}
.kuan-con h9 {
  margin: 0px 0px 10px 0px;
  color: #fff;
}
.zimo4 {
  color: rgb(202, 202, 202);
  line-height: 0.7em;
}
.zimo4 a:visited {
  color: rgb(202, 202, 202);
}
.zimo4 a:link {
  text-decoration: none;
}
.kuan-help {
  display: inline-block;
  width: 175px;
  position: relative;
  top: 22px;
  margin-left: 20px;
  margin-right: 20px;
}
.kuan-help h9 {
  margin: 0px 0px 10px 0px;
  color: #fff;
}
.kuan-our {
  display: inline-block;
  width: 120px;
  position: relative;
  top: 25px;
  margin-left: 20px;
  margin-right: 20px;
}
.kuan-our h9 {
  margin: 0px 0px 10px 0px;
  color: #fff;
}
.yezisvg {
  float: right;
  margin-top: 50px;
  margin-right: 650px;
}
.ok {
  color: #fff;
  margin: 50px 0px 20px 345px;
}
.ok1 {
  display: inline;
  vertical-align: middle;
}
.ok a {
  color: #fff;
  text-decoration: none;
}
h9 {
  font-size: 1.5em;
}
.eleven {
  margin-top: -680px;
}
.annv1 {
  position: relative;
  top: 220px;
}
.annv2 {
  position: relative;
  left: 1200px;
  top: 150px;
}