body {
    margin: 0;
    overflow-x: hidden;
}
.top {
    width: 120em;
    height: 6.2em;
    background-color: #171717;
}
.logo {
   background-image: url(./1/images/pure-new-zealand-logo.svg);
   position: relative;
   top: 20px;
   left: 359px;
   width: 280px;
   height: 27px;
}
ul li{
  display: inline-block;
  padding-right:29px;
  color: #ffffff;   position: relative;
  font-size: 14px;
}
ul li a {
  box-sizing: content-box;
  color:black;
  display: block;
  height: 25px;
  line-height:25px;
  text-decoration: none;
}
small {
  position: relative;
  top: 100px;
  left: 25px;
}